<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>業務報告書詳細</title>
</head>
<body>
<h1>
    業務報告書詳細ページ
</h1>

<img th:src="'data:image/png;base64,' + ${member.icon}" alt="member Icon" />
<p><span th:text="${member.name}"></span></p>
<p><span th:text="${report.date}"></span></p>
<p>出勤時間:<span th:text="${report.startTime}"></span></p>
<p>退勤時間:<span th:text="${report.endTime}"></span></p>
<p><span th:text="${report.impressions}"></span></p>
<p>明日の予定 :<span th:text="${report.tomorrowSchedule}"></span></p>

<div th:if="${report.isLateness}">
    <p style="color: red;" >遅刻</p>
    <p><span th:text="${report.latenessReason}"></span></p>
</div>

<div th:if="${report.isLeftEarly}">
    <p style="color: red;" >早退</p>
</div>

<tr th:each="task : ${tasks}">
    <p>
    <td th:text="${task.name}"></td>
    <td th:text="${'進捗率:' + task.progressRate + '%'}"></td>
    </p>
</tr>

</body>
</html>