@charset "UTF-8";

body {
 font-family:'メイリオ', 'Meiryo','ＭＳ ゴシック','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;
 font-size: 150%;
 color: #949593;
 }

.flex{
    /*コレ追加*/display: flex;
    position:  absolute;        /* 要素の配置方法を指定 */
    padding:  10px;             /* 余白指定 */
    left:  300px;                /* 左からの位置指定 */
    top: 150px;

}
.flex div{
    border: 1px solid #333;
}
.right{
    background: #FFFFFF;
    width:200px;
    height:30px;
    text-align:center;
    padding:10px 0;
}
.left{
    border: 1px solid #333;
    background: #f7f3f5;
    width:200px;
    height:30px;
    text-align:center;
    padding:10px 0;
}
.flex2{
    /*コレ追加*/display: flex;
    position:  absolute;        /* 要素の配置方法を指定 */
    padding:  10px;             /* 余白指定 */
    left:  400px;                /* 左からの位置指定 */
    top: 350px;                  /* 上からの位置指定 */
}


        input[type="submit"] {
          position:  absolute;        /* 要素の配置方法を指定 */
          background-color: #c3e0e9;     /* 背景色指定 */
          padding:  10px;             /* 余白指定 */
          left:  20px;                /* 左からの位置指定 */
          top: 200px;
          width:200px;
          height:70px;
          border-radius:10px;/* 上からの位置指定 */
          font-size: 150%;

}